body {
	margin: 0;
	height: auto;
	display: flex;
	justify-content: center;
	font-family: "Zen Dots", serif;
	font-weight: 400;
}

#wrapper {
	width: 93%;
	height: 100vh;
	background-color: grey;
	display: flex;
}

#side-bar-wrapper {
	flex: 2.5;
	height: 100vh;
	background-color: black;
}

#main-container-wrapper {
	flex: 7.5;
	height: 100vh;
	background-color: antiquewhite;
}