:root{
	--font-size-small: 1rem;
	--font-size-medium: 1.41rem;
	--font-size-large: 1.999rem;
	--font-size-xl: 2.827rem;
}

body {
	margin: 0;
	justify-items: center;
	font-family: "Geist", serif;
	font-size: var(--font-size-medium);
	font-weight: 600;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	color:white ;
}

#side-bar-country {
	font-size: var(--font-size-xl);
}

#wrapper {
	min-height: 100vh;
	z-index: 989;
}

/* webpage main grid layout */
#wrapper {
	display: grid;
	width: 93%;
	max-width: 1920px;
	grid-template-columns: 1fr auto;
	grid-template-rows: 100%;
	grid-template-areas:
		"sidebar main"
		"footer footer" ;
}

aside {
	grid-area: sidebar;
	background-color: rgba(63, 78, 79, .6);
	backdrop-filter: blur(10px);
	position: sticky;
	min-width: fit-content;
	top: 0;
	left: 0;
	height: calc(100vh - 4em);
	padding: 2em;
}

#side-bar-header-container > p:nth-child(1) {
	/* font-size: 40px; */
	margin: 0;
	background-image: url(../img/singapore_flag.webp);
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color:transparent;
}

#side-bar-weather-container {
	width: 100%;
}

#side-bar-weather-icon {
	width: 90%;
	aspect-ratio: 1 / 1;
}

#side-bar-weather-icon > img{
	width: 100%;
	height: 100%;
}

#side-bar-wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}


#main-wrapper {
	grid-area: main;
	background-color: rgb(44, 54, 57, .6);
	backdrop-filter: blur(10px);
	width: calc(100% - 4em);
	padding: 2em;
}


@media (max-width:1024px) {
	#wrapper {
		width: 100%;
		grid-template-columns: auto;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			"sidebar"
			"main"
			"footer" ;
	}
	#forecast-card-wrapper {
		align-items: center;
	}
}

#forecast-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

#forecast-label-container {
	display: flex;
	position: relative;
	width: 5em;
	height: 2.5em;
	aspect-ratio: 1 / 1;
	color: white;
	border-radius: 999px;
	border: 3px solid white;
	align-items: center;
	padding: 0 .2em;
}

#forecast-option-checkbox:checked + #forecast-label-container #forecast-option-circle {
	transform: translateX(calc(100% + 0.8em));
}

#forecast-option-circle {
	display: flex;
	align-items: center;
	position: absolute;
	width: 1.6em;
	aspect-ratio: 1 / 1;
	padding: .2em;
	background-color: black;
	border: 2px solid red;
	border-radius: 999px;
	overflow: hidden;
	transition: transform 0.6s ease;
}

#forecast-option-circle > svg {
	position: absolute;
	width: 1.6em;
	transition: opacity 1s ease;
}

#daily-option {
	opacity: 1;
}

#weekly-option {
	opacity: 0;
}


#forecast-option-checkbox:checked + #forecast-label-container #daily-option {
	opacity: 0;
}

#forecast-option-checkbox:checked + #forecast-label-container #weekly-option {
	opacity: 1;
}

/* Forecast container CSS */
#forecast-header > p {
	display: inline-block;
	font-size: var(--font-size-large);
}

#forecast-card-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 6px;
}

.forecast-cards {
	flex: 1 1 calc((100% / 7) - 12px * 7);
	min-width: fit-content;
	border-radius: 12px;
	border: 4px solid #A27B5C;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	padding: 4px 12px;
	background-color: #3F4E4F;
	color: #F4EDD3;
}

.forecast-cards > img {
	max-width: 100px;
}

footer {
	background-color: blue;
}


/* Daily Weather Container CSS */
#daily-weather-container {
	display: flex;
	flex-direction: column;
}

#daily-weather-card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.daily-weather-cards {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center ;
	min-width: fit-content;
	flex: 1 1 25%;
	padding: 1em 2em;
	border: 4px solid #A27B5C;
	border-radius: 12px;
	background-color: #3F4E4F;
	color: #F4EDD3;
}

.daily-weather-cards > p {
	margin-top: 0;
	text-align: center;
}

#daily-weather-header > p {
	font-size: var(--font-size-large);
}

/* UV content css */
#uv-content-container {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

#uv-display {
	flex: 1 1 auto;
	min-width: 110px;
	max-width: 130px;
	aspect-ratio: 1 / 1;
	background-color: white;
	align-content: center;
	justify-items: center;
	border-radius: 100%;
}

#uv-display > p {
	margin: .5em;
	color: black;
}

/* windspeed content css */
#windspeed-content-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#wind-speed-display {
	position: relative;
	width: 130px;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid white;
}

#wind-speed-display > p {
	position: absolute;
	/* font-size: 16px; */
	margin: 0;
}

#wind-speed-display > p:nth-child(1) {
	top: .5rem;
}

#wind-speed-display > p:nth-child(2) {
	right: .5rem;
}

#wind-speed-display > p:nth-child(3) {
	bottom: .5rem;
}

#wind-speed-display > p:nth-child(4) {
	left: .5rem;
}

#wind-speed-info {
	padding-left: 1em;
}

#wind-speed-info > p {
	margin: .5rem 0;
	/* font-size: large; */
}

#wind-speed-display > img {
	transform: rotate(var(--angle));
	width: 30%;
	aspect-ratio: 1 / 1;
}

/* sunrise sunset container CSS */
#sunrise-sunset-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.sunrise-container,
.sunset-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sunrise-container > p,
.sunset-container > p {
	padding-left: 1em;
}


.sunrise-container > img,
.sunset-container > img {
	max-width: 70px;
	aspect-ratio: 1 / 1;
}

/* humidity container CSS */
#humidity-content-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

#humidity-content-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width:fit-content;
}

#humidity-content-container > p {
	position: absolute;
	top: 40%;
}

#water-wave-img {
	background-image: url(../img/water.png);
	background-repeat: no-repeat;
	background-position: 0 100px;
	animation: waterslosh 1s linear infinite;
}

@keyframes waterslosh {
	0%
	{
		background-position-x: -200px;
	}
	100%
	{
		background-position-x: 0px;
	}
}

/* precipitation CSS */
#pop-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	max-width: 200px;
	min-height: 170px;
	height: 100%;
	width: 100%;
}

#pop-container {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 90%;
	object-fit: contain;
	border-bottom: 2px solid white;
	position: absolute;
	align-content: center;
	justify-items: center;
	font-size: var(--font-size-large);
}

#pop-container > img{
	width: 100%;
	aspect-ratio: 2.5 / 1;
	z-index: 2;
}

@keyframes raindrops {
	0%
	{

	}
	70%
	{
		top: calc(100% - 5px);
		transform: scale(1);
	}
	100%
	{	
		top:calc(100% - 5px);
		transform: scale(0);
	}
}

#pop-container > p {
	height: 100%;
	z-index: 99;
	color: rgb(255, 216, 132);
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	/* font-size: 24px; */
}

/* visibility container CSS */
#visibility-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	width: 100%;
	height: 100%;
	justify-content: center;
}

#visibility-container {
	position: relative;
	height: 100%;
	min-height: 100px;
	max-height: 120px;
	border-bottom: 2px solid white;
	background-image: url(../img/mountains.png);
	background-size: 50% 100%;
	background-repeat: no-repeat;
	background-position: 80% 22px;
}

#visibility-container > img {
	position: absolute;
}

#min-max-visibility {
	display: flex;
	justify-content: space-between;
}

#min-max-visibility > p {
	margin: 0;
}

#visibility-wrapper > p {
	margin: 0;
	text-align: center;
	/* font-size: larger; */
}

iframe {
	position: absolute;
	width: 100%;
	height: 100vh;
}

body > video {
	position: fixed;
	object-fit: fill;
	top:0;
	right: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}